#!/usr/bin/env xdg-open

[Desktop Entry]
Name=Bienvenido a Canaima GNU/Linux
Name[es_VE]=Bienvenido a Canaima GNU/Linux
GenericName=Bienvenido a Canaima GNU/Linux
GenericName[es_VE]=Bienvenido a Canaima GNU/Linux
Comment=Bienvenido a Canaima GNU/Linux
Comment[es_VE]=Bienvenido a Canaima GNU/Linux
Exec=www-browser /media/cdrom/index.html
Terminal=false
Type=Application
StartupNotify=true
Icon=/media/cdrom/html/canaima.svg
Categories=GNOME;GTK;Utility;
X-GNOME-FullName=Bienvenido a Canaima GNU/Linux
X-GNOME-FullName[es]=Bienvenido a Canaima GNU/Linux
