[submodule "documentation/googlewiki"]
	path = documentation/googlewiki
	url = https://code.google.com/p/canaima-semilla.wiki/
[submodule "documentation/githubwiki"]
	path = documentation/githubwiki
	url = git@github.com:LuisAlejandro/canaima-semilla.wiki.git
