[Desktop Entry]
Name=Canaima Semilla
Name[es_VE]=Canaima Semilla
GenericName=Canaima Semilla
GenericName[es_VE]=Canaima Semilla
Comment=Canaima Semilla
Comment[es_VE]=Canaima Semilla
Exec=gksu /usr/bin/c-s-gui
Terminal=false
Type=Application
StartupNotify=true
Icon=/usr/share/icons/hicolor/scalable/apps/c-s-gui.svg
Categories=GTK;Development;IDE;
