[Desktop Entry]
Name=Manual de Canaima Semilla
Name[es_VE]=Manual de Canaima Semilla
GenericName=Manual de Canaima Semilla
GenericName[es_VE]=Manual de Canaima Semilla
Comment=Abre de Canaima Semilla
Comment[es_VE]=Abre de Canaima Semilla
Exec=sensible-browser /usr/share/doc/canaima-semilla/index.html
Terminal=false
Type=Application
StartupNotify=true
Icon=/usr/share/icons/hicolor/scalable/apps/c-s-gui.svg
Categories=GTK;Development;IDE;
