Package: canaima-semilla
Version: 1.1+1
Architecture: all
Maintainer: Luis Alejandro Martínez Faneyth <lmartinez@cnti.gob.ve>
Installed-Size: 8
Depends: debootstrap (>= 1.0.23), gnu-fdisk (>= 1.2.4-3), libparted0debian1 (>= 2.3-1), libreadline6 (>= 6.1-3)
Recommends: cpio, gettext-base
Suggests: dosfstools, genisoimage, memtest86+ | memtest86, mtools, parted, squashfs-tools | genext2fs | mtd-tools, sudo | fakeroot, syslinux | grub, uuid-runtime, win32-loader
Conflicts: live-build, live-helper
Replaces: live-build, live-helper
Section: misc
Priority: optional
Homepage: http://gitorious.org/canaima-gnu-linux/canaima-semilla
Description: Generador de medios vivos para Canaima GNU/Linux
 Canaima Semilla es un paquete que permite generar medios vivos para
 el sistema operativo Canaima GNU/Linux.
 .
 Se le brinda a el usuario la opción de escoger la arquitectura (i386, amd64)
 y el medio a utilizar (USB, CD o DVD).
 .
 En el futuro, éste paquete también podrá generar sistemas nVivo para los
 diferentes sabores de la metadistribución Canaima GNU/Linux.
 .
 Éste desarrollo está basado en el Proyecto Debian Live.
