Source: canaima-semilla
Section: misc
Priority: optional
Maintainer: Equipo de Desarrollo de Canaima GNU/Linux <desarrolladores@canaima.softwarelibre.gob.ve>
Uploaders: Luis Alejandro Martínez Faneyth <martinez.faneyth@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), cdbs, python-sphinx, texlive, python-docutils, texlive-latex-extra
Standards-Version: 3.9.1
Homepage: http://canaima.softwarelibre.gob.ve/
Vcs-Git: git://gitorious.org/canaima-gnu-linux/canaima-semilla.git
Vcs-Browser: http://gitorious.org/canaima-gnu-linux/canaima-semilla/trees/master

Package: canaima-semilla
Architecture: all
Depends: live-build, ${shlibs:Depends}, ${misc:Depends}
Description: Generador de medios vivos para Canaima GNU/Linux
 Este paquete permite generar imágenes instalables de Distribuciones
 basadas en la metadistribución Canaima GNU/Linux, partiendo de perfiles
 predefinidos que definen las características (paquetes a incluir, scripts,
 arte gráfico, entre otros) de los Sabores en cuestión.
 .
 Provee una interfaz sencilla para su utilización.
